:root {
    --primary-color: #6B5FFF;
    --secondary-color: #080242;
    --text-color: #ffffff;
    --bg-color: #101625;
    --primaryFont: 'Space Grotest', sans-serif;
}

/* Service Section */
.services {
    max-width: 1100px;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding: 1rem;

}

.services h1 {
    font-size: 2rem;
}

.services-description {
    font-size: 1.3rem;
    text-align: center;
}

.service-pricing {
    display: flex;

    gap: 2rem;

}

.service-card {
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.service-card h2 {
    color: var(--primary-color);
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.user-info h3 {
    font-size: 1.5rem;
}

.service-card p {

    margin: 0.5rem 0;
    color: black;
    font-size: 1.3rem;
}

.service-card strong {
    color: #333;
    font-size: 1.2rem;
}

.buy-button {
    background-color: var(--primary-color);
    color: var(--text-color);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.buy-button:hover {
    background-color: var(--secondary-color);
}

/* CSS for user information form */
.purchase-form {
    max-width: 800px;
    margin: 2rem auto;
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.purchase-form label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: black;
}

.purchase-form input[type="text"],
.purchase-form input[type="email"],
.purchase-form select,
.purchase-form textarea {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.purchase-form input[type="submit"] {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.purchase-form input[type="submit"]:hover {
    background-color: #005bb5;
}

/* Add some spacing to PayPal buttons */
#paypal-container-H59UNFHF7M4NJ-webdesign,
#paypal-container-H59UNFHF7M4NJ-graphicdesign {
    margin-top: 1rem;
}

@media (max-width: 768px) {
    .service-pricing {
        display: flex;
        flex-direction: column;
    }
}